.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
.lable {
    @apply text-sm font-semibold;
}
.input{
    @apply  h-10 bg-white p-3 mb-3;
    border: 1px solid #0B7C4D;
    border-radius: 10px;
}
  
.submit{
    @apply px-3 py-2 text-white text-sm font-semibold my-3;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #0B7C4D ,#34E89E);
}

.submit:hover {
  background-image: linear-gradient(to bottom, #1b5a36 ,#42f693);
}


.login-form {
  @apply w-1/3;
  padding: 30px;
  border: 1px solid #B8BCBB;
  border-radius: 10px;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title_signin {
  @apply text-2xl mb-10 font-bold text-gray-900;
  
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.register-now {
  @apply ml-2 font-bold;
  color: #0B7C4D;
}

.register-now:hover {
  color: #06a049;
}

