.background-header {
    position: relative;
    height: 370px;
}

.background {
    position: absolute;
    background: url("../../assets/background.jpg") no-repeat;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 370px;
    z-index: -10;
    background-size: cover;
    background-position: center;
}

.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 370px;
    background-color: rgba(47, 54, 54, 0.3)
}

.slogan {
    @apply text-4xl font-light text-center pt-20;
    color: #fff;
}

.container {
    @apply list-none pl-0 pr-5 pb-5 text-gray-900 w-1/4;
}

.subject-item {
    @apply  rounded-lg px-7 py-5 h-32 flex justify-center items-center relative;
    transition: .2s ease-out;
}

.subject-item:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 9%), 0 6px 6px rgb(0 0 0 / 12%);
}

.image {
    @apply absolute h-32 w-full rounded-lg;
    /* filter: opacity(0.6); */
}

.item-bg {
    position: absolute;
    top:-2;
    left: 0;
    right: 0;
    @apply h-32 w-full rounded-lg;
    background-color:  rgba(47, 54, 54, 0.4)
}

